{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    {% block content %}
    {% include 'message.html.twig' %}
        <h1>Lise des produits</h1>
    <div style="text-align: right">
        <p>
            <a class="btn btn-primary btn-sm" href="{{ path('add_product') }}">Ajouter un auteur</a>
        </p>
    </div>
    <table class="table table-dark">
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.nom }}</td>
                <td>{{ auteur.prenom }}</td>
                <td>
                    {#<a class="btn btn-primary btn-sm" href="{{ path('modify_product', {'id': product.id}) }}">Modifier</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('delete_product', {'id': product.id}) }}">Supprimer</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% endblock %}
    
{% endblock %}